<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <ul class="navbar-nav  mx-auto ">
        <li class="nav-item active">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="menu">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> MENU
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="about">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> ABOUT
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="booktable">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> BOOK TABLE
            </NavLink>
        </li>
    </ul>
</div>

